@import-normalize;

body {
    margin: 0;
    background: #444;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: #fff;
    min-height: 100vh;
}
